/* src/assets/styles/main.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Объявляем переменные с цветами из вашей палитры */
:root {
  --panda-white: #FFFFFF;
  --light-gray: #F7F7F7;
  --panda-orange: #F15F31;
}

/* Глобальные стили, перенесенные из старого style.css */
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
         url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
         url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Gilroy-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #F7F7F7; /* Tailwind: bg-light-gray */
}

img, a {
  -webkit-user-drag: none;
  user-select: none;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Скроллбар                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #E3E3E3;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
  background-color: #929292;
}