/* src/assets/styles/main.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gap-page {
    @apply mt-25; /* 100px */
  }
  .gap-container {
    @apply mb-15; /* 60px */
  }
}

/* Глобальные стили теперь применяются через tailwind.config.js,
  оставляем только подключение файлов шрифтов.
*/
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
         url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
         url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* УДАЛЕНО: Стили для body, так как они теперь в tailwind.config.js */

/* УДАЛЕНО: Стили для img, a - лучше управлять ими по месту через классы */

/* Стили для скроллбара остаются, так как это кастомизация */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #E3E3E3;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
  background-color: #929292;
}